body{
    overflow-x: hidden;
}
/* Home Page  */ 
nav{
    background-color: white;
    border-bottom: solid 2px orange;
    box-shadow: 10px 5px 10px 5px rgba(0, 0, 0, 0.3);
    height: 80px;
}
.navbar-brand{
    color: black;
}
nav a{
    color:#FBBF88;
    transition: all ease-in-out .5s;
}
nav a:hover{
    color: rgb(255, 115, 0);
    border-bottom: solid 1px rgb(255, 115, 0);
    transform: scale(1.1);
    transition: all ease-in-out .5s;
}
.header{
    background: url("../img/utensils-on-brown-wooden-table-2287523.jpg") center center fixed;
    background-size: cover;
    height: 700px;
    opacity: .9;
    text-align: center;
}
.header-content{
    position: absolute;    	
    margin-top: 300px;
    margin-left: 280px;
    text-align: center;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .header-content{
        margin-left: 0;
    }
  }
.header-content button{
    background-color: rgb(255, 115, 0);
    color: white;
    height: 60px;
    border-radius: 50px;
    box-shadow: 10px 5px 10px 5px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    transition: all ease-in-out .3s;
}
.header-content button:hover{
    color: white;
    transform: scale(1.1);
}
.header-content p{
    font-size: 20px;
    background-color: white;
    color: rgb(255, 115, 0);
}

/* our story section */
.about-us{
    margin-top: 120px;
    box-shadow: 10px 5px 10px 5px rgba(0, 0, 0, 0.3);
}
.about-content{
    padding: 30px 0 50px 0;
    font-size: 18px;
}

.line{
    border-bottom: solid 2px rgb(255, 115, 0); 
    opacity: .3;
}
.header-about{
    color: white;
    background-color:rgb(255, 115, 0);
    padding: 100px;
    margin-left: -30px;
    font-size: 45px;
    box-shadow: 4px 2px 4px 2px rgba(0, 0, 0, 0.1);
    text-align: center;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .header-about{
        margin-left: 0;
    }
  }
.fa-utensils{
    font-size: 50px;
    text-align: center;

}
/* our gallery why clients choose us*/
.slideshow{
    margin-top: 80px;
}
.card{
    margin-top: 50px;
    background-color: #FBBF88;
    box-shadow: 10px 5px 10px 5px rgba(0, 0, 0, 0.1);
}

.card h3{
    font-size: 18px;
}
.card img{
    width: 100%;
    height: 200px;
    margin-top: 20px;
    box-shadow: 10px 5px 10px 5px rgba(0, 0, 0, 0.2);
    transition: all ease-in-out .5s;
}
.card img:hover{
    transform: rotateY(180deg);
    transition: all ease-in-out .5s;
}
#card1 , #card2  , #card3  {
	display: block;
}
#card4 , #card5 , #card6 , #card7 , #card8 , #card9 {
	display: none;
}

.footer{
    margin-top: 80px;
    padding: 20px;
	background-color: #1E1C1F;
}
.font-awesome{
    margin-top: 30px;
    font-size: 25px;
    color: #FBBF88;
}
.copyright-line{
    margin-top: 20px;
    height: 1px;
    background-color: rgb(255, 115, 0); 
    opacity: 0.6; 
  }
  .copyright{
      margin-top: 20px;
      color: #FBBF88;
      text-align: center;
  }
